@tailwind base;
@tailwind components;
@tailwind utilities;

.svg-element {
    transition: transform 200ms ease-in-out;
    transform-origin: center center;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #00000000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff50; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


body {
    background-color: #d8d8d8;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        background-color: #d8d8d8;

    }
}

.fade-in {
    animation: fadeIn 2000ms ease-in-out forwards;
}

svg {
    transition: all .5s ease-out ;

}